.custom-navbar {
    background: linear-gradient(90deg, #081b5d, #1d4ed8);
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.brand-logo {
    color: white !important;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;

}

.nav-link {
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    transition: all 0.3s ease;

}

.nav-link:hover {
    color: #ffd700 !important;

}
.navbar-toggler{
    box-shadow: none;
    width: 55px;

}
/* Tablet & Mobile */

@media (max-width: 991px) {

    .navbar-collapse {
        background: rgba(8, 27, 93, 0.95);
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;

    }
    .navbar-nav {
        text-align: center;

    }
    .nav-link {
        margin-left: 0;
        padding: 12px 0;

    }

}

/* Small Mobile */

@media (max-width: 576px) {
    .custom-navbar {
        padding: 10px 15px;

    }
    .brand-logo {
        font-size: 1.3rem;
    }
    .nav-link {
        font-size: 0.95rem;
    }

}